* {
    margin: 0;
    padding: 0;
    color: hsl(200, 39%, 95%);
    /* outline: 2px dotted black; */
}

body{

    width: 960px;
    margin: 0 auto;
    background-color: black;
}

.racePixSize{
    height: 150px;
    width: 150px;
}

header{
    margin-top: 15px;
    background-color:#c9b897;
    height: 236px;
}

header a{
    color: black;
    font-size: 18px;
}
.headerLeft{
    clear: both;
    margin-left: 5px;
    margin-top: 20px;
    padding: 0px;
    height: 200px;
    width: 175px;
}

.headerRight{
    float: right;
    margin-top: 15px;
    height: 200px;
    width: 175px;
}

.headerH1{
    font-size: 30px;
    float: right;
    margin-right: 175px;
    margin-top: 25px;
    color: black;
    padding: 0px;
}


nav{
    float: right;
    margin-right: 350px;
}

nav ul{
    clear: both;
    text-align: center;
    margin-top: -150px;
}

nav li{
    display: inline-block;
    margin-top: 0px;
    margin-right: 15px;
    list-style-type: none;
}


a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{
    text-decoration-color:none;
    color:rebeccapurple;
}
a:active{text-decoration: none;}