* {
    margin: 0;
    padding: 0;
    /* color: hsl(200, 39%, 95%); */
}

/* Start Header Information */
header{
    margin-top: 15px;
    background-color:#c9b897; 
    height: 250px;
}
header h4{
    text-align: center;
}
header a{
    color: black;
    font-size: 18px;
}
.headerLeft{
    clear: both;
    margin-left: 5px;
    margin-top: 20px;
    padding: 0px;
    height: 200px;
    width: 175px;
}

.headerRight{
    float: right;
    margin-top: 15px;
    margin-right:5px;
    height: 200px;
    width: 175px;
}

.headerH1{
    font-size: 35px;
    float: right;
    margin-right: 150px;
    margin-top: 95px;
    color: black;
    padding: 0px;
}

nav{
    float: right;
    margin-right: 350px;
}

nav ul{
    clear: both;
    text-align: center;
    margin-top: -75px;
}

nav li{
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{
    color:#f4c86e;
    background-color: black;
}
a:active{text-decoration: none;}

/* End Header Information */

/* Start Body Information */
body{

    width: 960px;
    margin: 0 auto;
    background-color: #f2deb6 ;
}

body li{
    list-style-type: none;
}

.racePixLeft{
    clear:both;
    margin-left: 490px;
    /* margin-top: -200px; */
    height: 150px;
    width: 150px;
}

.listLeft{
    float: left;
    margin-left: 125px;
    margin-bottom: 50px;
    /* margin-top: 60px; */
}

.racePixRight{
    float: right;
    margin-right:490px;
    margin-bottom: 15px;
    margin-top: -30px;
    height: 150px;
    width: 150px;
}

.listRight{
    clear:both;
    /* float:right; */
    text-align: right;
    /* margin-left: 400px; */
    /* margin-bottom: 150px; */
    margin-top:-150px;
}

h2{
    color: #735e34;
    font-size: 30px;
}

.headingLeft{
    margin-left:100px;
}

.headingRight{
    clear: both;
    float: right;
    text-align: right;
    margin-right: 100px;
}

.articleLeft{
    /* background-color: chartreuse; */
    height: 160px;
}

.articleRight{
    /* background-color: plum; */
    width: 870px;
    height: 160px;
}